/* 1. EL ARREGLO DEL ESPACIO BLANCO (Igual que en inicio) */
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.servicios-seccion {
    background-color: #fcfcfc; /* Un fondo súper sutil para separar del blanco puro */
    flex-grow: 1; /* Esto empuja el footer hacia abajo */
}

/* 2. LOS NUEVOS COLORES (Adiós al exceso de verde) */
.titulo-oscuro {
    color: #212529; /* Un gris casi negro, muy elegante */
}

.tarjeta-servicio {
    border-radius: 15px;
    overflow: hidden; /* Para que la foto respete las esquinas redondas */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Un pequeño efecto para que la tarjeta salte al pasar el mouse */
.tarjeta-servicio:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

/* La imagen del perrito */
.imagen-perro {
    height: 440px;
    object-fit: cover; /* Asegura que la foto no se deforme */
}

/* El precio lo ponemos del color Marrón Arcilla que usamos en la barra */
.precio-destacado {
    color: #bc6c25;
}