:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.paseadores-seccion {
    background-color: #fcfcfc;
    flex-grow: 1;
}

.titulo-oscuro {
    color: #212529;
}

/* Diseño de la tarjeta del equipo */
.tarjeta-equipo {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el ratón */
.tarjeta-equipo:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* Estilos para que la foto de perfil sea redonda y perfecta */
.foto-perfil {
      width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: top;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.foto-modal {
    width: 160px;
    height: 160px;
    object-fit: cover;
    object-position: top;
    border: 5px solid #fff;
}

/* Truco para cortar el texto si es muy largo y ponerle "..." */
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}